body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

.container {
    width: 90%;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

img {
    width: 150px;
    border-radius: 10px;
}

button, input, select {
    padding: 8px;
    margin: 5px 0;
}
